.carousel-container {
  display: flex;
  justify-content: center;
}
.carousel-image-container {
  width: 200px; 
  margin: 0 auto;
}


  .section__container {
    background-color: #797979; 
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .section__container h1,
  .section__container h2,
  .section__container p {
    color: #050505; 
  }

  body {
    background-color: #256bd3; 
    margin: 0; 
    font-family: Arial, sans-serif;
    color: #414141; 
  }

 