.login {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .login__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #dcdcdc;
    padding: 30px;
  }
  .login__textBox {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
  }
  .login__btn {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    border: none;
    color: white;
    background-color: black;
  }
  .login__google {
    background-color: #4285f4;
  }
  .login div {
    margin-top: 7px;
  }
/* Reset */
  .dashboard {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .dashboard__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #dcdcdc;
    padding: 30px;
  }
  .dashboard__btn {
    padding: 10px;
    font-size: 18px;
    margin-top: 10px;
    border: none;
    color: white;
    background-color: black;
  }
  .dashboard div {
    margin-top: 7px;
  }  

  /* register */

  .form {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .form-body {
    margin-bottom: 20px;
  }
  
  .form__label {
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
  }
  
  .form__input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  .btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  
  .sign-out {
    text-align: right;
  }
  
  .sign-out__button {
    background: none;
    border: none;
    cursor: pointer;
    color: #007bff;
  }
  
  .sign-out__button:hover {
    text-decoration: underline;
  }
  
  .footer {
    text-align: center;
  }

  .reset {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .reset__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #dcdcdc;
    padding: 30px;
  }
  
  .reset__textBox {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .reset__btn {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    border: none;
    color: white;
    background-color: black;
  }
  
  .reset div {
    margin-top: 7px;
  }
  